<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="#" />
    <title>Login Page</title>
</head>
<body>
 
<h1>This is just Index page.<h1>

<a href="login">Login Page</a> <a/>

    <footer>
        <p>&copy; 2023 College Fee Payment Project</p>
    </footer>

</body>
</html>